<ion-list>
  <button
    ion-item detail-none
    (click)="onButMenu($event)"
  >Weeknight Suppers</button>
  <button
    ion-item detail-none
    (click)="onButMenu($event)"
  >Dinner with Family</button>
  <button
    ion-item detail-none
    (click)="onButMenu($event)"
  >Quick and Easy</button>
  <button
    ion-item detail-none
    (click)="onButMenu($event)"
  >Super Bown Party</button>
  <button
    ion-item detail-none
    (click)="onButMenu($event)"
  >Dinner to Impress</button>
</ion-list>
