<!--
  Generated template for the FavouritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favourites</ion-title>

    <ion-buttons end>
      <button
        ion-button>
        EDIT
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="header-select">
    <ion-segment
      [(ngModel)]="type"
      color="primary"
      (ionChange)="segmentChanged($event)">

      <ion-segment-button [value]="TYPE_RECIPE">
        Recipes
      </ion-segment-button>
      <ion-segment-button [value]="TYPE_MENU">
        Menus
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- recipes -->
  <ion-row wrap *ngIf="type == TYPE_RECIPE">
    <ion-col col-4 *ngFor="let recipe of recipes">
      <!-- recipe item -->
      <recipe-grid-item (click)="onRecipeDetail()">
      </recipe-grid-item>
    </ion-col>
  </ion-row>

  <!-- menus -->
  <div class="flex-column" *ngIf="type == TYPE_MENU">
    <div class="menus" *ngFor="let menu of menus">
      <span class="title">Easy Meals</span>
      <!-- recipes -->
      <div class="container-scroll">
        <ion-row nowrap>
          <ion-col col-4 *ngFor="let recipe of recipes">
            <!-- recipe item -->
            <recipe-grid-item (click)="onRecipeDetail()">
            </recipe-grid-item>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

</ion-content>
