// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$font-size-label: 10pt;
$font-size-button: 10pt;


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.flex-row {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-fill {
    flex: 1;
}

.match-parent {
    width: 100%;
    height: 100%;
}
.full-width {
  width: 100%;
}

.nm-center {
    align-self: center;
    justify-content: center !important;
    text-align: center;
}

//
// background
//
.red-bg {
  background-image: url('../assets/imgs/onboard_bg.png');
  background-size: cover;
}


// width
.width-80 {
  width: 80%;
}

//
// buttons
//
.but-primary {
    font-size: $font-size-button;
    color: map-get($colors, primary) !important;
    background-color: map-get($colors, light) !important;
}
.but-primary.activated {
    opacity: 0.7;
}

.but-transparent {
    font-size: $font-size-button;
    color: map-get($colors, light) !important;
}

// navigation bar
.back-button-icon {
  font-size: 2.8rem;
}

//
// signin form
//
.signin-input {
  border-bottom: 1px solid map-get($colors, light);
}
.signin-input img {
  margin-right: 24px;
}
.signin-input ion-input {
  color: map-get($colors, light);
}

// term & signup
.signin-menu {
  text-align: center;
}
.signin-menu span {
  font-size: $font-size-label;
  color: map-get($colors, light);
}
.signin-menu span.clickable {
  color: #ff5047;
}


//
// placeholders
//
.text-input::-moz-placeholder {
  color: map-get($colors, light);
}

.text-input::-ms-input-placeholder {
  color: map-get($colors, light);
}

.text-input::-webkit-input-placeholder {
  color: map-get($colors, light);
}

//
// photo buttons
//
.round {
  border-radius: 50%;
}
.but-photo-large {
  width: 120px;
  height: 120px;
  border: 3px solid white;
  font-size: 10pt;
}
.but-photo-large .title {
  line-height: 1.4;
}
.but-photo-large ion-icon {
  font-size: 27pt;
}

//
// transparent header
//
ion-header[transparent] .toolbar-background {
  background: transparent;
}

//
// scroll container
//
.container-scroll {
  overflow-y: scroll
}
