page-signup-favourite {

  ion-content {
    background-color: map-get($map: $colors, $key: main-red) !important;
    color: map-get($map: $colors, $key: light) !important;
  }

  .fixed-content {
    margin-top: 36px;
  }

  .darkred-bg {
    background-color: map-get($colors, dark-red);
  }

  .div-profile span {
    margin-top: 16px;
    margin-bottom: 26px;
    font-size: 12pt;
  }

  .div-content .title {
    text-align: center;
    padding: 14px;
  }
  .div-content .container-scroll {
    margin: 12px;
    padding: 8px;
    background: map-get($map: $colors, $key: light);
    border-radius: 12px;
  }

  //
  // border
  //
  .top-border {
    border-top: 1px solid #ffffff70;
  }
  .bottom-border {
    border-bottom: 1px solid #ffffff70;
  }

  //
  // accordion menu
  //
  .accordion .menu {
    font-size: 11pt;
  }
  .accordion .menu ion-icon {
    font-size: 13pt;
    min-height: 0;
  }
  .accordion .container-scroll {
    margin-top: 0;
  }
  .accordion .content {
    transition: 0.3s linear;
    overflow: hidden;
  }
  .collapsed {
    max-height: 0 !important;
  }

}
