<!--
  Generated template for the ReviewListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reviews</ion-title>

    <ion-buttons end>
        <button
          ion-button clear
          (click)="onButNew()">
          <img src="../../assets/imgs/home_edit.png" />
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

  <div class="dv-no-list-item flex-c-row nm-center"
       *ngIf="reviews.length == 0; else list">
    <span>No reviews yet</span>
  </div>

  <ng-template #list>
    <ion-card
      *ngFor="let review of reviews"
      class="flex-column">

      <div class="flex-row title">
        <!-- rating -->
        <star-rate
          [rating]="3"
          starSize="16">
        </star-rate>

        <!-- title -->
        <span>Easy to prepare</span>
      </div>

      <!-- user & time -->
      <span class="user">By John Williams on March 31, 2018</span>

      <!-- description -->
      <span class="desc">{{review.desc}}</span>

    </ion-card>
  </ng-template>

</ion-content>
