page-review-list {

  ion-navbar button img {
    width: 15px;
  }

  ion-card {
    padding: 10px;

    .title {
      star-rate {
        width: 94px;
      }

      span {
        margin-left: 12px;
        font-weight: bold;
      }
    }

    .user {
      font-size: 9pt;
      color: #757575;
      margin-top: 6px;
    }

    .desc {
      margin-top: 8px;
      font-size: 9pt;
      line-height: 1.5;
    }
  }

}
