page-onboard {
    .slide-content span {
        margin-top: 60px;
        font-size: $font-size-label;
        color: map-get($colors, light);
    }
    
    .slide-content {
        margin-bottom: 110px;
    }

    .img-logo {
        width: 157px;
    }

    //
    // slider buillets
    //

    // color
    .swiper-pagination-bullet {
        background: map-get($colors, light) !important;
    }

    // position
    .swiper-pagination-bullets {
        top: 70%;
    }

    //
    // buttons
    //
    .but-primary {
        font-size: $font-size-button;
        color: map-get($colors, primary) !important;
        background-color: map-get($colors, light) !important;
    }
    .but-primary.activated {
        opacity: 0.7;
    }

    .but-transparent {
        font-size: $font-size-button;
        color: map-get($colors, light) !important;
    }
}

