page-cooking-tip {

  // search bar
  ion-searchbar {
    background-color: transparent !important;

    .searchbar-input {
      box-shadow: 0 0px 5px #666;
    }
  }

  // lists
  ion-card-header {
    font-size: 11pt !important;
  }
  ion-card-content {
    color: #5a5a5a;
    font-size: 10pt !important;
  }

}
